{{> head }}

<div class="page-header">
    <div class="wrapper">
        <div class="container">
            <div class="row no-gutters">
                <div class="col-12 col-md-5">
                    <div class="row">
                        <ul class="breadcrumbs">
                            <li class="breadcrumbs__item">
                                <a href="/" class="breadcrumbs__ancor"><span
                                    class="breadcrumbs__text">Главная</span></a>
                            </li>
                            <li class="breadcrumbs__item">
                                <a href="/my-orders" class="breadcrumbs__ancor"><span class="breadcrumbs__text">Мои заказы</span></a>
                            </li>
                            <li class="breadcrumbs__item">
                                <a href="" class="breadcrumbs__ancor breadcrumbs__ancor_current"><span
                                    class="breadcrumbs__text">Заказ №100101010</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-md-5 fx fx-justify-between fx-align-center page-header__col-progress">
                    <a href="#" class="mobile-prev"></a>
                    {{> progress-bar_filled type="dark" icon="dot" caption="Ожидаем предоплату" }}
                </div>
            </div>
            <div class="row fx-justify-between">
                <div class="col-12 col-lg-5 page-header__col-info">
                    <div class="row fx-col">
                        <div class="order-number">Заказ #{{ orderNumber }}</div>
                        <div class="page-title">{{ worktype }}</div>
                        <div class="subject">По предмету: &laquo;{{ subject }}&raquo;</div>
                    </div>
                </div>
                <div class="col-12 col-md-auto col-lg-5">
                    <div class="row fx-nowrap page-header__row-widget">
                        <div class="col-auto page-header__col-widget">
                            <div class="widget-price">
                                <h2 class="widget-price__header">Цена<span
                                    class="widget-price__price-old">20 000 Р</span></h2>
                                <h2 class="widget-price__price widget-price__price_{{ type }}">19 332 Р</h2>
                            </div>
                            {{> button type="std" theme="transp" border="bright" caption="Оплатить полностью" addClass="page-header__btn" }}
                        </div>
                        <div class="col-auto page-header__col-widget">
                            <div class="widget-price">
                                <h2 class="widget-price__header">Предоплата 25%</h2>
                                <h2 class="widget-price__price widget-price__price_prepay">803 Р</h2>
                            </div>
                            {{> button type="std" theme="secondary" caption="Внести предоплату" addClass="page-header__btn" }}
                        </div>
                    </div>
                </div>
                <div class="col col-lg-2">
                    <div class="fx fx-col fx-align-center widget-countdown">
                        <h3 class="widget-price__header">Работа будет готова</h3>
                        <div class="widget-countdown__calendar">
                            <div class="fx widget-countdown__date">
                                <span class="widget-countdown__day">13</span>
                                <span class="widget-countdown__mounth">&nbsp;дек</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="navigation container">
            <nav class="row">
                <ul class="col-12 col-md-4 fx fx-justify-between navigation__list">
                    <li><a href="/order123" class="navigation__link navigation__link_active">Сообщения</a></li>
                    <li><a href="/order123/details" class="navigation__link">Подробности</a></li>
                    <li><a href="/order123/files" class="navigation__link">Файлы</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>

<div class="wrapper main-wrapper" data-template="messages">

    <div class="fx fx-col fx-lg-row fx-align-center user-block">
        <div class="avatar user-block__avatar"></div>
        <div class="fx fx-col user-block__name-col">
            <div class="user-block__type">{{ userType }}</div>
            <div class="user-block__name">{{ user }}</div>
        </div>

        <div class="widget-contacts">
            <div class="progress-bar">
                <div class="fx fx-align-center progress-bar__container">
                    <div class="fx fx-center progress-bar__fill progress-bar__fill_primary">
                        <div class="progress-bar__icon progress-bar__icon_skype"></div>
                        <span class="progress-bar__icon progress-bar__icon_skype">aasdasd.user.zaochnik.com</span>
                    </div>
                    <div class="progress-bar__caption progress-bar__caption_on-empty">aasdasd.user.zaochnik.com</div>
                    <div class="progress-bar__caption progress-bar__caption_on-empty">8-800-333-85-44-170</div>
                </div>
            </div>
        </div>

    </div>

    <div class="chat clearfix">

        {{!-- MANAGER MESSAGE --}}
        <div class="fx fx-col fx-md-row msg msg_in chat__msg">
            <div class="avatar msg__avatar"></div>
            <div class="fx fx-col">
                <div class="fx fx-justify-between msg__info">
                    <div class="fx fx-col fx-sm-row msg__info-data">
                        <span class="msg__name">Манагер супэр манагер</span>
                        {{!-- <span class="msg__status msg__status_new">Новое сообщение</span>   SHOW IF UNREED --}}
                    </div>
                    <div class="fx fx-col-reverse fx-align-end fx-md-align-start fx-md-row msg__info-data">
                        <span class="msg__status">Прочитанно</span>  {{!-- HIDE IF UNREED --}}
                        <span class="msg__time">10:40, 14.02.2017</span>
                    </div>
                </div>
                <div class="msg__text-field">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti iure nisi saepe sapiente.
                    Consequuntur deleniti eum fugiat fugit id iusto neque repellendus voluptatibus! Architecto
                    asperiores deserunt ducimus, eveniet excepturi impedit ipsum labore maxime mollitia nemo, nisi nobis
                    odio quas, quasi sunt totam velit vitae voluptatibus. Ea nam, vel. Aliquid eos fugiat hic maiores
                    nisi officiis, perspiciatis voluptates! Consectetur debitis dolorum ipsum minima modi nesciunt vero,
                    voluptate.
                </div>
            </div>
        </div>

        {{!-- USER MESSAGE --}}
        <div class="fx fx-col fx-md-row msg msg_out chat__msg">
            <div class="avatar msg__avatar"></div>
            <div class="fx fx-col">
                <div class="fx fx-justify-between msg__info">
                    <div class="fx fx-col fx-sm-row msg__info-data">
                        <span class="msg__name">{{user}}</span>
                        {{!-- <span class="msg__status msg__status_new">Новое сообщение</span>   SHOW IF UNREED --}}
                    </div>
                    <div class="fx fx-col-reverse fx-align-end fx-md-align-start fx-md-row msg__info-data">
                        <span class="msg__status">Прочитанно</span>  {{!-- HIDE IF UNREED --}}
                        <span class="msg__time">10:40, 14.02.2017</span>
                    </div>
                </div>
                <div class="msg__text-field">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur dolores facere impedit in
                    officia perferendis totam. Animi cumque et eveniet iste nemo omnis totam?
                </div>
            </div>
        </div>

        {{!-- USER MESSAGE --}}
        <div class="fx fx-col fx-md-row msg msg_out chat__msg">
            <div class="avatar msg__avatar"></div>
            <div class="fx fx-col">
                <div class="fx fx-justify-between msg__info">
                    <div class="fx fx-col fx-sm-row msg__info-data">
                        <span class="msg__name">{{user}}</span>
                        {{!-- <span class="msg__status msg__status_new">Новое сообщение</span>   SHOW IF UNREED --}}
                    </div>
                    <div class="fx fx-col-reverse fx-align-end fx-md-align-start fx-md-row msg__info-data">
                        <span class="msg__status">Прочитанно</span>  {{!-- HIDE IF UNREED --}}
                        <span class="msg__time">10:40, 14.02.2017</span>
                    </div>
                </div>
                <div class="msg__text-field">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, ad amet architecto asperiores assumenda
                    beatae cumque deleniti, deserunt dolor, dolore eaque est id ipsa ipsum itaque nisi nobis numquam
                    officia perferendis placeat quae quaerat quam quisquam repellendus reprehenderit sequi temporibus!
                </div>
            </div>
        </div>

        {{!-- MANAGER MESSAGE --}}
        <div class="fx fx-col fx-md-row msg msg_in chat__msg">
            <div class="avatar msg__avatar"></div>
            <div class="fx fx-col">
                <div class="fx fx-justify-between msg__info">
                    <div class="fx fx-col fx-sm-row msg__info-data">
                        <span class="msg__name">Манагер супэр манагер</span>
                         <span class="msg__status msg__status_new">Новое сообщение</span> {{!-- HIDE IF UNREED --}}
                    </div>
                    <div class="fx fx-col-reverse fx-align-end fx-md-align-start fx-md-row msg__info-data">
                        {{!-- <span class="msg__status">Прочитанно</span>   SHOW IF REED --}}
                        <span class="msg__time">10:40, 14.02.2017</span>
                    </div>
                </div>
                <div class="msg__text-field">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, culpa.
                </div>
            </div>
        </div>

        {{!-- FORM --}}
        <form action="" class="chat__input-container" data-form="chat-form">
            <textarea class="chat__input" placeholder="Введите текст сообщения..."></textarea>
            <button type="submit" class="btn btn_std btn_secondary chat__send-btn">Отправить</button>
        </form>
    </div>
</div>

{{> footer }}
