{{!--
    types:
        std
        rect
        round
        triangle-down

    icon:
        close
        plus

    themes:
        bright
        primary
        secondary
        error
        transp
        disabled

     border:
        bright
        dark
        primary
        secondary

    caption:
        text
--}}

<button class="btn btn_{{ type }} btn_{{ theme }} btn_{{ border }} btn_{{ icon }} {{ addClass }}">{{caption}}</button>