<div class="chat {{addClass}}">

    {{!-- MANAGER MESSAGE --}}
    <div class="msg msg_in chat__msg">
        <div class="avatar msg__avatar"></div>
        <div>
            <div class="msg__info">
                <div class="msg__info-data">
                    <span class="msg__name">Манагер супэр манагер</span>
                    {{!-- <span class="msg__status msg__status_new">Новое сообщение</span>   SHOW IF UNREED --}}
                </div>

                <div class="msg__info-data">
                    <span class="msg__status">Прочитанно</span>  {{!-- HIDE IF UNREED --}}
                    <span class="msg__time">10:40, 14.02.2017</span>
                </div>

            </div>
            <div class="msg__text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti iure nisi saepe sapiente.
                Consequuntur deleniti eum fugiat fugit id iusto neque repellendus voluptatibus! Architecto
                asperiores deserunt ducimus, eveniet excepturi impedit ipsum labore maxime mollitia nemo, nisi nobis
                odio quas, quasi sunt totam velit vitae voluptatibus. Ea nam, vel. Aliquid eos fugiat hic maiores
                nisi officiis, perspiciatis voluptates! Consectetur debitis dolorum ipsum minima modi nesciunt vero,
                voluptate.
            </div>
        </div>
    </div>

    {{!-- USER MESSAGE --}}
    <div class="msg msg_out chat__msg">
        <div class="avatar msg__avatar"></div>
        <div>
            <div class="msg__info">
                <div class="msg__info-data">
                    <span class="msg__name">{{user}}</span>
                    {{!-- <span class="msg__status msg__status_new">Новое сообщение</span>   SHOW IF UNREED --}}
                </div>
                <div class="msg__info-data">
                    <span class="msg__status">Прочитанно</span>  {{!-- HIDE IF UNREED --}}
                    <span class="msg__time">10:40, 14.02.2017</span>
                </div>
            </div>
            <div class="msg__text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur dolores facere impedit in
                officia perferendis totam. Animi cumque et eveniet iste nemo omnis totam?
            </div>
        </div>
    </div>

    {{!-- USER MESSAGE --}}
    <div class="msg msg_out chat__msg">
        <div class="avatar msg__avatar"></div>
        <div>
            <div class="msg__info">
                <div class="msg__info-data">
                    <span class="msg__name">{{user}}</span>
                    {{!-- <span class="msg__status msg__status_new">Новое сообщение</span>   SHOW IF UNREED --}}
                </div>
                <div class="msg__info-data">
                    <span class="msg__status">Прочитанно</span>  {{!-- HIDE IF UNREED --}}
                    <span class="msg__time">10:40, 14.02.2017</span>
                </div>
            </div>
            <div class="msg__text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, ad amet architecto asperiores assumenda
                beatae cumque deleniti, deserunt dolor, dolore eaque est id ipsa ipsum itaque nisi nobis numquam
                officia perferendis placeat quae quaerat quam quisquam repellendus reprehenderit sequi temporibus!
            </div>
        </div>
    </div>


    {{!-- USER MESSAGE --}}
    <div class="msg msg_out chat__msg">
        <div class="avatar msg__avatar"></div>
        <div>
            <div class="msg__info">
                <div class="msg__info-data">
                    <span class="msg__name">{{user}}</span>
                    {{!-- <span class="msg__status msg__status_new">Новое сообщение</span>   SHOW IF UNREED --}}
                </div>
                <div class="msg__info-data">
                    <span class="msg__status">Прочитанно</span>  {{!-- HIDE IF UNREED --}}
                    <span class="msg__time">10:40, 14.02.2017</span>
                </div>
            </div>
            <div class="msg__text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, ad amet architecto asperiores assumenda
                beatae cumque deleniti, deserunt dolor, dolore eaque est id ipsa ipsum itaque nisi nobis numquam
                officia perferendis placeat quae quaerat quam quisquam repellendus reprehenderit sequi temporibus!
            </div>
        </div>
    </div>


    {{!-- USER MESSAGE --}}
    <div class="msg msg_out chat__msg">
        <div class="avatar msg__avatar"></div>
        <div>
            <div class="msg__info">
                <div class="msg__info-data">
                    <span class="msg__name">{{user}}</span>
                    {{!-- <span class="msg__status msg__status_new">Новое сообщение</span>   SHOW IF UNREED --}}
                </div>
                <div class="msg__info-data">
                    <span class="msg__status">Прочитанно</span>  {{!-- HIDE IF UNREED --}}
                    <span class="msg__time">10:40, 14.02.2017</span>
                </div>
            </div>
            <div class="msg__text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, ad amet architecto asperiores assumenda
                beatae cumque deleniti, deserunt dolor, dolore eaque est id ipsa ipsum itaque nisi nobis numquam
                officia perferendis placeat quae quaerat quam quisquam repellendus reprehenderit sequi temporibus!
            </div>
        </div>
    </div>

    {{!-- USER MESSAGE --}}
    <div class="msg msg_out chat__msg">
        <div class="avatar msg__avatar"></div>
        <div>
            <div class="msg__info">
                <div class="msg__info-data">
                    <span class="msg__name">{{user}}</span>
                    {{!-- <span class="msg__status msg__status_new">Новое сообщение</span>   SHOW IF UNREED --}}
                </div>
                <div class="msg__info-data">
                    <span class="msg__status">Прочитанно</span>  {{!-- HIDE IF UNREED --}}
                    <span class="msg__time">10:40, 14.02.2017</span>
                </div>
            </div>
            <div class="msg__text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, ad amet architecto asperiores assumenda
                beatae cumque deleniti, deserunt dolor, dolore eaque est id ipsa ipsum itaque nisi nobis numquam
                officia perferendis placeat quae quaerat quam quisquam repellendus reprehenderit sequi temporibus!
            </div>
        </div>
    </div>

    {{!-- MANAGER MESSAGE --}}
    <div class="msg msg_in chat__msg">
        <div class="avatar msg__avatar"></div>
        <div>
            <div class="msg__info">
                <div class="msg__info-data">
                    <span class="msg__name">Манагер супэр манагер</span>
                    <span class="msg__status msg__status_new">Новое сообщение</span> {{!-- HIDE IF UNREED --}}
                </div>
                <div class="msg__info-data">
                    {{!-- <span class="msg__status">Прочитанно</span>   SHOW IF REED --}}
                    <span class="msg__time">10:40, 14.02.2017</span>
                </div>
            </div>
            <div class="msg__text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, culpa.
            </div>
        </div>
    </div>

    {{!-- FORM --}}
    <form action="" class="chat__input-container" data-form="chat-form">
        <textarea class="chat__input" placeholder="Введите текст сообщения..."></textarea>
        <button type="submit" class="btn btn_std btn_secondary chat__send-btn">Отправить</button>
    </form>
</div>
