{{!-- TEMPLATE ОПЛАТИТЕ ГОТОВУЮ РАБОТУ --}}

<div class="container order-detail">
    <div class="row fx fx-justify-between fx-md-center order-detail__stage-1">
        <div class="col-8 col-md-12 order-detail__info-panel">
            <div class="row fx fx-justify-between">
                <div class="col-3 col-sm-12 fx-sm fx-sm-justify-between">
                    <h2 class="order-detail__header">Заказ</h2>
                    <div class="order-detail__order-number">№1 010 601</div>
                    <div class="order-detail__data-in">от 01.08.2017</div>
                    <div class="order-detail__deadline">Дата сдачи: 03.09.2017</div>
                </div>
                <div class="col-3 col-sm-12">
                    <h2 class="order-detail__header">Предмет</h2>
                    <div class="order-detail__description">Экономическая социология</div>
                </div>
                <div class="col-6 col-sm-12">
                    <h2 class="order-detail__header">Вид работы</h2>
                    <div class="order-detail__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Aspernatur delectus maiores officia perspiciatis quos sed similique. Dolor harum illum, incidunt
                        iusto optio sed suscipit veritatis.
                    </div>
                    {{!-- Для умной обрезки вставить в шаблон {{ value | truncatewords: 7-10 }} --}}
                </div>
            </div>
        </div>
        <div class="col-4 col-md-12 order-detail__second-panel">
            <div class="row">
                <div class="col col-sm-auto order-detail__data-info">
                    <h2 class="order-detail__header">Цена <span class="order-detail__price-old">20 000 р</span></h2>
                    <h2 class="order-detail__price">19 332 Р</h2>
                </div>
                <div class="col col-sm-auto order-detail__data-info">
                    <h2 class="order-detail__header">Предоплата (25%)</h2>
                    <h2 class="order-detail__price order-detail__price_prepay">803 Р</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="row fx fx-align-center fx-justify-between fx-md-center order-detail__stage-2 order-detail__stage-2_border">
        <div class="col-8 col-sm-12">
            <div class="row fx fx-justify-start fx-align-center">
                <div class="col-6 col-sm-12">
                    {{> progress-bar type="prepay" icon="card" caption="Ожидаем предоплаты (25%)"}}
                </div>
                <div class="col-auto col-sm-12">
                    <a href="#" class="order-detail__message">
                        <div class="order-detail__message-count"><span>1</span></div>
                        <span class="text_accent text_accent_underline">Новое сообщение</span> от менеджера
                    </a>
                </div>
            </div>
        </div>
        <div class="col-4 col-sm-12 md-center">
            <div class="row fx fx-center">
                <div class="col-auto">
                    {{> button type="std" theme="secondary" caption="Внести предоплату"}}
                </div>
                <div class="col-auto">
                    <span class="order-detail__price-total">Сумма к оплате: 1 803 Р</span>
                </div>
            </div>
        </div>
    </div>
</div>

{{!-- TEMPLATE ОЦЕНИВАЕМ СТОИМОСТЬ --}}

<div class="container order-detail">
    <div class="row fx fx-justify-between fx-md-center order-detail__stage-1">
        <div class="col-8 col-md-12 order-detail__info-panel">
            <div class="row fx fx-justify-between">
                <div class="col-3 col-sm-12 fx-sm fx-sm-justify-between">
                    <h2 class="order-detail__header">Заказ</h2>
                    <div class="order-detail__order-number">№1 010 601</div>
                    <div class="order-detail__data-in">от 01.08.2017</div>
                    <div class="order-detail__deadline">Дата сдачи: 03.09.2017</div>
                </div>
                <div class="col-3 col-sm-12">
                    <h2 class="order-detail__header">Предмет</h2>
                    <div class="order-detail__description">Экономическая социология</div>
                </div>
                <div class="col-6 col-sm-12">
                    <h2 class="order-detail__header">Вид работы</h2>
                    <div class="order-detail__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Aspernatur delectus maiores officia perspiciatis quos sed similique. Dolor harum illum, incidunt
                        iusto optio sed suscipit veritatis.
                    </div>
                    {{!-- Для умной обрезки вставить в шаблон {{ value | truncatewords: 7 }} --}}
                </div>
            </div>
        </div>
        <div class="col-4 col-md-12 order-detail__second-panel">
            <button class="btn btn_rect fx fx-center order-detail__btn order-detail__btn_wait">
                <span class="order-detail__btn-icon">{{> spinner }}</span>
                <span class="order-detail__btn-caption order-detail__btn-caption_wait">Оцениваем стоимость</span>
            </button>
        </div>
    </div>
    <div class="row fx fx-align-center fx-justify-between fx-md-center order-detail__stage-2 order-detail__stage-2_border">
        <div class="col-8 col-sm-12">
                <div class="row fx fx-justify-start fx-align-center">
                <div class="col-6 col-sm-12">
                    {{> progress-bar type="wait" icon="clock" caption="Оценка работы"}}
                </div>
                <div class="col-auto col-sm-12">
                    <a href="#" class="order-detail__message">
                        <div class="order-detail__message-count"><span>1</span></div>
                        <span class="text_accent text_accent_underline">Новое сообщение</span> от менеджера
                    </a>
                </div>
            </div>
        </div>
        <div class="col-4 col-sm-12 md-center">
            <div class="row fx fx-center">
                <div class="col">
                    <div class="order-detail__small-caption">Оценка работы может занимать от&nbsp;5&nbsp;минут до&nbsp;1&nbsp;дня</div>
                </div>
            </div>
        </div>
    </div>
</div>

{{!-- TEMPLATE ПОЯСНИТЕ ЗАДАНИЕ --}}

<div class="container order-detail">
    <div class="row fx fx-justify-between fx-md-center order-detail__stage-1">
        <div class="col-8 col-md-12 order-detail__info-panel">
            <div class="row fx fx-justify-between">
                <div class="col-3 col-sm-12 fx-sm fx-sm-justify-between">
                    <h2 class="order-detail__header">Заказ</h2>
                    <div class="order-detail__order-number">№1 010 601</div>
                    <div class="order-detail__data-in">от 01.08.2017</div>
                    <div class="order-detail__deadline">Дата сдачи: 03.09.2017</div>
                </div>
                <div class="col-3 col-sm-12">
                    <h2 class="order-detail__header">Предмет</h2>
                    <div class="order-detail__description">Экономическая социология</div>
                </div>
                <div class="col-6 col-sm-12">
                    <h2 class="order-detail__header">Вид работы</h2>
                    <div class="order-detail__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Aspernatur delectus maiores officia perspiciatis quos sed similique. Dolor harum illum, incidunt
                        iusto optio sed suscipit veritatis.
                    </div>
                    {{!-- Для умной обрезки вставить в шаблон {{ value | truncatewords: 7 }} --}}
                </div>
            </div>
        </div>
        <div class="col-4 col-md-12 order-detail__second-panel">
            <button class="btn btn_rect fx fx-center order-detail__btn order-detail__btn_info">
                <span class="order-detail__btn-icon order-detail__btn-icon_info"></span>
                <span class="order-detail__btn-caption order-detail__btn-caption_wait">Поясните задание</span>
            </button>
        </div>
    </div>
    <div class="row fx fx-align-center fx-justify-between fx-md-center order-detail__stage-2 order-detail__stage-2_border">
        <div class="col-8 col-sm-12">
            <div class="row fx fx-justify-start fx-align-center">
                <div class="col-6 col-sm-12">
                    {{> progress-bar type="specify" icon="info" caption="Поясните задание"}}
                </div>
                <div class="col-auto col-sm-12">
                    <a href="#" class="order-detail__message">
                        <div class="order-detail__message-count"><span>1</span></div>
                        <span class="text_accent text_accent_underline">Новое сообщение</span> от менеджера
                    </a>
                </div>
            </div>
        </div>
        <div class="col-4 col-sm-12 md-center">
            <div class="row fx fx-center">
                <div class="col">
                    <div class="order-detail__small-caption">
                        <a href="#" class="text_accent text_accent_underline">Добавьте описание</a>
                        для наиболее точной оценки вашего заказа
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{!-- TEMPLATE РАБОТА ВЫПОЛНЯЕТСЯ --}}

<div class="container order-detail">
    <div class="row fx fx-justify-between fx-md-center order-detail__stage-1">
        <div class="col-8 col-md-12 order-detail__info-panel">
            <div class="row fx fx-justify-between">
                <div class="col-3 col-sm-12 fx-sm fx-sm-justify-between">
                    <h2 class="order-detail__header">Заказ</h2>
                    <div class="order-detail__order-number">№1 010 601</div>
                    <div class="order-detail__data-in">от 01.08.2017</div>
                    <div class="order-detail__deadline">Дата сдачи: 03.09.2017</div>
                </div>
                <div class="col-3 col-sm-12">
                    <h2 class="order-detail__header">Предмет</h2>
                    <div class="order-detail__description">Экономическая социология</div>
                </div>
                <div class="col-6 col-sm-12">
                    <h2 class="order-detail__header">Вид работы</h2>
                    <div class="order-detail__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Aspernatur delectus maiores officia perspiciatis quos sed similique. Dolor harum illum, incidunt
                        iusto optio sed suscipit veritatis.
                    </div>
                    {{!-- Для умной обрезки вставить в шаблон {{ value | truncatewords: 7 }} --}}
                </div>
            </div>
        </div>
        <div class="col-4 col-md-12 order-detail__second-panel">
            <div class="row">
                <div class="col col-sm-auto order-detail__data-info">
                    <h2 class="order-detail__header">Цена <span class="order-detail__price-old">20 000 р</span></h2>
                    <h2 class="order-detail__price">19 332 Р</h2>
                </div>
                <div class="col col-sm-auto order-detail__data-info">
                    <h2 class="order-detail__header">Срок готовности</h2>
                    <h2 class="order-detail__price order-detail__price_ready-date">15.05.2017</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="row fx fx-align-center fx-justify-between fx-md-center order-detail__stage-2 order-detail__stage-2_border">
        <div class="col-8 col-sm-12">
            <div class="row fx fx-justify-start fx-align-center">
                <div class="col-6 col-sm-12">
                    {{> progress-bar_filled type="wip" icon="pencil" caption="Выполнение работы"}}
                </div>
                <div class="col-auto col-sm-12">
                    <a href="#" class="order-detail__message">
                        <div class="order-detail__message-count"><span>1</span></div>
                        <span class="text_accent text_accent_underline">Новое сообщение</span> от менеджера
                    </a>
                </div>
            </div>
        </div>
        <div class="col-4 col-sm-12 md-center">
            <div class="row fx fx-center">
                <div class="col-auto">
                    <div class="order-detail__small-caption">
                        <span>Ваша работа выполняется</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{!-- TEMPLATE ОПЛАТИТЕ ГОТОВУЮ РАБОТУ --}}

<div class="container order-detail">
    <div class="row fx fx-justify-between fx-md-center order-detail__stage-1">
        <div class="col-8 col-md-12 order-detail__info-panel">
            <div class="row fx fx-justify-between">
                <div class="col-3 col-sm-12 fx-sm fx-sm-justify-between">
                    <h2 class="order-detail__header">Заказ</h2>
                    <div class="order-detail__order-number">№1 010 601</div>
                    <div class="order-detail__data-in">от 01.08.2017</div>
                    <div class="order-detail__deadline">Дата сдачи: 03.09.2017</div>
                </div>
                <div class="col-3 col-sm-12">
                    <h2 class="order-detail__header">Предмет</h2>
                    <div class="order-detail__description">Экономическая социология</div>
                </div>
                <div class="col-6 col-sm-12">
                    <h2 class="order-detail__header">Вид работы</h2>
                    <div class="order-detail__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Aspernatur delectus maiores officia perspiciatis quos sed similique. Dolor harum illum, incidunt
                        iusto optio sed suscipit veritatis.
                    </div>
                    {{!-- Для умной обрезки вставить в шаблон {{ value | truncatewords: 7 }} --}}
                </div>
            </div>
        </div>
        <div class="col-4 col-md-12 order-detail__second-panel">
            <div class="row">
                <div class="col col-sm-auto order-detail__data-info">
                    <h2 class="order-detail__header">Цена <span class="order-detail__price-old">20 000 р</span></h2>
                    <h2 class="order-detail__price">19 332 Р</h2>
                </div>
                <div class="col col-sm-auto order-detail__data-info">
                    <h2 class="order-detail__header">Доплатить</h2>
                    <h2 class="order-detail__price order-detail__price_need-to-pay">1 803 Р</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="row fx fx-align-center fx-justify-between fx-md-center order-detail__stage-2 order-detail__stage-2_border">
        <div class="col-8 col-sm-12">
            <div class="row fx fx-justify-start fx-align-center">
                <div class="col-6 col-sm-12">
                    {{> progress-bar_filled type="need-pay" icon="card" caption="Оплатите готовую работу"}}
                </div>
                <div class="col-auto col-sm-12">
                    <a href="#" class="order-detail__message">
                        <div class="order-detail__message-count"><span>1</span></div>
                        <span class="text_accent text_accent_underline">Новое сообщение</span> от менеджера
                    </a>
                </div>
            </div>
        </div>
        <div class="col-4 col-sm-12 md-center">
            <div class="row fx fx-center">
                <div class="col-auto">
                    {{> button type="std" theme="primary" caption="Доплатить и скачать"}}
                </div>
                <div class="col-auto">
                    <span class="order-detail__price-total">Сумма к оплате: 1 803 Р</span>
                </div>
            </div>
        </div>
    </div>
</div>

{{!-- TEMPLATE РАБОТА ГОТОВА --}}

<div class="container order-detail">
    <div class="row fx fx-justify-between fx-md-center order-detail__stage-1">
        <div class="col-8 col-md-12 order-detail__info-panel">
            <div class="row fx fx-justify-between">
                <div class="col-3 col-sm-12 fx-sm fx-sm-justify-between">
                    <h2 class="order-detail__header">Заказ</h2>
                    <div class="order-detail__order-number">№1 010 601</div>
                    <div class="order-detail__data-in">от 01.08.2017</div>
                    <div class="order-detail__deadline">Дата сдачи: 03.09.2017</div>
                </div>
                <div class="col-3 col-sm-12">
                    <h2 class="order-detail__header">Предмет</h2>
                    <div class="order-detail__description">Экономическая социология</div>
                </div>
                <div class="col-6 col-sm-12">
                    <h2 class="order-detail__header">Вид работы</h2>
                    <div class="order-detail__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Aspernatur delectus maiores officia perspiciatis quos sed similique. Dolor harum illum, incidunt
                        iusto optio sed suscipit veritatis.
                    </div>
                    {{!-- Для умной обрезки вставить в шаблон {{ value | truncatewords: 7 }} --}}
                </div>
            </div>
        </div>
        <div class="col-4 col-md-12 order-detail__second-panel">
            <div class="row">
                <div class="col col-sm-auto order-detail__data-info order-detail__price-col">
                    <h2 class="order-detail__header">Цена <span class="order-detail__price-old">20 000 р</span></h2>
                    <h2 class="order-detail__price">19 332 Р</h2>
                </div>
                <div class="col-auto col-sm-auto order-detail__data-info order-detail__files-col">
                    <h2 class="order-detail__header">Файлы</h2>
                    <ul class="file-list">
                        <li class="file-list__item"><a href="#" class="file-list__name">Дипломная работа.word</a></li>
                        <li class="file-list__item"><a href="#" class="file-list__name">Курсовая работа.word</a></li>
                        <li class="file-list__item"><a href="#" class="file-list__name">Научная работа.word</a></li>
                        <li class="file-list__item"><a href="#" class="file-list__name">Диссер работа.word</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row fx fx-align-center fx-justify-between fx-md-center order-detail__stage-2 order-detail__stage-2_border">
        <div class="col-8 col-sm-12">
            <div class="row fx fx-justify-start fx-align-center">
                <div class="col-6 col-sm-12">
                    {{> progress-bar_filled type="ready" icon="check" caption="Ваша работа готова"}}
                </div>
                <div class="col-auto col-sm-12">
                    <a href="#" class="order-detail__message">
                        <div class="order-detail__message-count"><span>1</span></div>
                        <span class="text_accent text_accent_underline">Новое сообщение</span> от менеджера
                    </a>
                </div>
            </div>
        </div>
        <div class="col-4 col-sm-12 md-center">
            <div class="row fx fx-center">
                <div class="col-auto">
                    {{> button type="std" theme="primary" caption="Скачать архивом"}}
                </div>
            </div>
        </div>
    </div>
</div>

