{{!--

VARIABLES:

types:
    prepay        secondary color
    ready-date    gray color
    need-to-pay   primary color

    heading:      text
    heading-part: text (25%)
    summ:         number
    oldSumm:      number
    currency:     text
    addClass:     some additional class

    {{> widget-price type="" heading="" heading-part="" summ="" oldSumm="" currency="Р" addClass=""}}

--}}

<div class="widget-price {{ addClass }}">
    <div class="widget-price__header">{{ heading }} {{heading-part}}
        <span class="widget-price__price-old">{{ oldSumm }} {{ currency }}</span>
    </div>
    <div class="widget-price__price widget-price__price_{{ type }}">{{ summ }} {{ currency }}</div>
</div>

{{!-- ЦЕНА

<div class="widget-price">
    <div class="widget-price__header">Цена
        <span class="widget-price__price-old">20 000 Р</span>
    </div>
    <div class="widget-price__price widget-price__price_{{ type }}">19 332 Р</div>
</div>

--}}

{{!-- ПРЕДОПЛАТА

<div class="widget-price">
    <div class="widget-price__header">Предоплата 25%</div>
    <div class="widget-price__price widget-price__price_prepay">803 Р</div>
</div>

--}}

{{!-- ДОПЛАТИТЬ

<div class="widget-price">
    <div class="widget-price__header">Доплатить</div>
    <div class="widget-price__price widget-price__price_need-to-pay">803 Р</div>
</div>

--}}

{{!-- СРОК ГОТОВНОСТИ

<div class="widget-price">
    <div class="widget-price__header">Срок готовности</div>
    <div class="widget-price__price widget-price__price_ready-date">15.05.2017</div>
</div>

--}}


